In [1]:
import pandas as pd
import numpy as np
from pydataset import data
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
#A random forest classifier

In [2]:
#Indlæser titanic datasæt fra pydataset
df = data('titanic')  
df

          class     age    sex survived
1     1st class  adults    man      yes
2     1st class  adults    man      yes
3     1st class  adults    man      yes
4     1st class  adults    man      yes
5     1st class  adults    man      yes
...         ...     ...    ...      ...
1312  3rd class   child  women       no
1313  3rd class   child  women       no
1314  3rd class   child  women       no
1315  3rd class   child  women       no
1316  3rd class   child  women       no

[1316 rows x 4 columns]

In [6]:
#Omdanner til tal
df = pd.get_dummies(df,drop_first=True)
df

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
1                   0                0          0          0             1
2                   0                0          0          0             1
3                   0                0          0          0             1
4                   0                0          0          0             1
5                   0                0          0          0             1
...               ...              ...        ...        ...           ...
1312                0                1          1          1             0
1313                0                1          1          1             0
1314                0                1          1          1             0
1315                0                1          1          1             0
1316                0                1          1          1             0

[1316 rows x 5 columns]

In [7]:
#spliter datasæt til traningsdatasæt og testdatasæt
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('survived_yes', axis=1),df['survived_yes'],test_size=0.1,random_state=20)

In [8]:
#Laver model og træne
model = RandomForestClassifier()
model.fit(X_train,Y_train)

RandomForestClassifier()

In [9]:
X_test

      class_2nd class  class_3rd class  age_child  sex_women
599                 1                0          1          1
855                 0                1          0          0
371                 1                0          0          0
899                 0                1          0          0
93                  0                0          0          0
1068                0                1          0          0
717                 0                1          0          0
1138                0                1          0          1
1086                0                1          0          1
148                 0                0          0          0
556                 1                0          0          1
877                 0                1          0          0
477                 1                0          0          0
1001                0                1          0          0
883                 0                1          0          0
961                 0                1          0          0
1035                0                1          0          0
669                 0                1          0          0
487                 1                0          0          0
286                 0                0          0          1
607                 1                0          1          1
1128                0                1          0          1
360                 1                0          0          0
122                 0                0          0          0
309                 0                0          0          1
917                 0                1          0          0
989                 0                1          0          0
1212                0                1          0          1
969                 0                1          0          0
740                 0                1          0          0
1027                0                1          0          0
1106                0                1          0          1
889                 0                1          0          0
832                 0                1          0          0
245                 0                0          0          1
614                 0                1          0          0
560                 1                0          0          1
561                 1                0          0          1
796                 0                1          0          0
497                 1                0          0          1
671                 0                1          0          0
975                 0                1          0          0
575                 1                0          0          1
1307                0                1          1          1
957                 0                1          0          0
338                 1                0          0          0
1162                0                1          0          1
496                 1                0          0          1
156                 0                0          0          0
267                 0                0          0          1
691                 0                1          0          0
1069                0                1          0          0
266                 0                0          0          1
59                  0                0          0          0
104                 0                0          0          0
633                 0                1          0          0
625                 0                1          0          0
1224                0                1          0          1
757                 0                1          0          0
1038                0                1          0          0
1044                0                1          0          0
428                 1                0          0          0
335                 1                0          0          0
307                 0                0          0          1
42                  0                0          0          0
196                 0                0          0          1
492                 1                0          0          0
714                 0                1          0          0
1314                0                1          1          1
164                 0                0          0          0
174                 0                0          0          0
545                 1                0          0          1
15                  0                0          0          0
1084                0                1          0          1
57                  0                0          0          0
281                 0                0          0          1
483                 1                0          0          0
690                 0                1          0          0
1271                0                1          1          0
246                 0                0          0          1
863                 0                1          0          0
474                 1                0          0          0
606                 1                0          1          1
986                 0                1          0          0
329                 1                0          0          0
1297                0                1          1          1
288                 0                0          0          1
227                 0                0          0          1
523                 1                0          0          1
1101                0                1          0          1
1191                0                1          0          1
1141                0                1          0          1
1019                0                1          0          0
1195                0                1          0          1
62                  0                0          0          0
1061                0                1          0          0
507                 1                0          0          1
381                 1                0          0          0
546                 1                0          0          1
624                 0                1          0          0
780                 0                1          0          0
1200                0                1          0          1
138                 0                0          0          0
129                 0                0          0          0
985                 0                1          0          0
301                 0                0          0          1
422                 1                0          0          0
841                 0                1          0          0
537                 1                0          0          1
75                  0                0          0          0
838                 0                1          0          0
142                 0                0          0          0
873                 0                1          0          0
605                 1                0          1          1
276                 0                0          0          1
683                 0                1          0          0
885                 0                1          0          0
911                 0                1          0          0
300                 0                0          0          1
604                 1                0          1          1
1071                0                1          0          0
439                 1                0          0          0
131                 0                0          0          0
1263                0                1          1          0
800                 0                1          0          0
692                 0                1          0          0
680                 0                1          0          0
699                 0                1          0          0
609                 1                0          1          1
121                 0                0          0          0
590                 1                0          1          0
22                  0                0          0          0

In [186]:
model.predict(X_test)

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0],
      dtype=uint8)

In [187]:
#Sandsynligheden for at man overlever
model.predict_proba(X_test)

array([[0.        , 1.        ],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.84055458, 0.15944542],
       [0.66118717, 0.33881283],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.54503777, 0.45496223],
       [0.54503777, 0.45496223],
       [0.66118717, 0.33881283],
       [0.14757156, 0.85242844],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.03117755, 0.96882245],
       [0.        , 1.        ],
       [0.54503777, 0.45496223],
       [0.92732007, 0.07267993],
       [0.66118717, 0.33881283],
       [0.03117755, 0.96882245],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.54503777, 0.45496223],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.54503777, 0.45496223],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.03117755, 0.96882245],
       [0.84055458, 0.15944542],
       [0.14757156, 0.85242844],
       [0.14757156, 0.85242844],
       [0.84055458, 0.15944542],
       [0.14757156, 0.85242844],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.14757156, 0.85242844],
       [0.5310932 , 0.4689068 ],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.54503777, 0.45496223],
       [0.14757156, 0.85242844],
       [0.66118717, 0.33881283],
       [0.03117755, 0.96882245],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.03117755, 0.96882245],
       [0.66118717, 0.33881283],
       [0.66118717, 0.33881283],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.54503777, 0.45496223],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.92732007, 0.07267993],
       [0.03117755, 0.96882245],
       [0.66118717, 0.33881283],
       [0.03117755, 0.96882245],
       [0.92732007, 0.07267993],
       [0.84055458, 0.15944542],
       [0.5310932 , 0.4689068 ],
       [0.66118717, 0.33881283],
       [0.66118717, 0.33881283],
       [0.14757156, 0.85242844],
       [0.66118717, 0.33881283],
       [0.54503777, 0.45496223],
       [0.66118717, 0.33881283],
       [0.03117755, 0.96882245],
       [0.92732007, 0.07267993],
       [0.84055458, 0.15944542],
       [0.71138769, 0.28861231],
       [0.03117755, 0.96882245],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.        , 1.        ],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.5310932 , 0.4689068 ],
       [0.03117755, 0.96882245],
       [0.03117755, 0.96882245],
       [0.14757156, 0.85242844],
       [0.54503777, 0.45496223],
       [0.54503777, 0.45496223],
       [0.54503777, 0.45496223],
       [0.84055458, 0.15944542],
       [0.54503777, 0.45496223],
       [0.66118717, 0.33881283],
       [0.84055458, 0.15944542],
       [0.14757156, 0.85242844],
       [0.92732007, 0.07267993],
       [0.14757156, 0.85242844],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.54503777, 0.45496223],
       [0.66118717, 0.33881283],
       [0.66118717, 0.33881283],
       [0.84055458, 0.15944542],
       [0.03117755, 0.96882245],
       [0.92732007, 0.07267993],
       [0.84055458, 0.15944542],
       [0.14757156, 0.85242844],
       [0.66118717, 0.33881283],
       [0.84055458, 0.15944542],
       [0.66118717, 0.33881283],
       [0.84055458, 0.15944542],
       [0.        , 1.        ],
       [0.03117755, 0.96882245],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.03117755, 0.96882245],
       [0.        , 1.        ],
       [0.84055458, 0.15944542],
       [0.92732007, 0.07267993],
       [0.66118717, 0.33881283],
       [0.71138769, 0.28861231],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.84055458, 0.15944542],
       [0.        , 1.        ],
       [0.66118717, 0.33881283],
       [0.        , 1.        ],
       [0.66118717, 0.33881283]])

In [14]:
#Tjekker om en kvinde fra første klasse vil overleve.
model.predict(np.array([[0,0,0,1]]))[0]

1

In [189]:
#Tjekker hvor godt vores model er fra 0-1
model.score(X_test,Y_test)

0.8181818181818182