In [2]:
from textblob import TextBlob
from textblob import Word
import pandas as pd

In [79]:
a = TextBlob("Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.")

In [80]:
#tester om citatet er negativitet/positivitet og subjektivitet/objektivitet
a.sentiment

Sentiment(polarity=-0.1166666666666667, subjectivity=0.85)

In [89]:
TextBlob("Great").sentiment

Sentiment(polarity=0.8, subjectivity=0.75)

In [90]:
TextBlob("Not Great").sentiment

Sentiment(polarity=-0.4, subjectivity=0.75)

In [91]:
TextBlob("Very Great").sentiment

Sentiment(polarity=1.0, subjectivity=0.9750000000000001)

In [29]:
TextBlob("i am great").sentiment

Sentiment(polarity=0.8, subjectivity=0.75)

In [4]:
df = pd.read_csv("tripadvisor_hotel_reviews.csv")
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [6]:
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

In [7]:
df['polarity'] = df['Review'].apply(pol)
df['subjectivity'] = df['Review'].apply(sub)

In [8]:
df.sample(10)

,Review,Rating,polarity,subjectivity
11684,good value quiet train station really enjoyed ...,4,0.254718,0.463051
14754,looks deceiving terms all-inclusive resorts su...,2,0.117177,0.587906
4939,"nh city centre better stay twice, 4 star hotel...",5,0.084896,0.667708
7366,clean place friendly staff won bid hotel price...,4,0.322475,0.537037
14926,"fab hotel, great hotel, easy quiet designed in...",5,0.329167,0.508333
19286,cheap cheerful stayed travelodge barcelona jul...,3,0.388889,0.694444
10667,hotel fita wonderful stayed hotel fita 4 night...,5,0.436275,0.666667
5759,good soft beds overall nice hotel wonderful se...,4,0.288889,0.511111
14408,loved antiche figure husband stayed hotel end ...,5,0.326299,0.728355
3289,good hotel not great wife 18 year old son retu...,3,0.299946,0.496645